.outermost-social-share-link {
	color: #444;
}

.outermost-social-share-link-facebook {
	color: #1778f2;
}

.outermost-social-share-link-linkedin {
	color: #0d66c2;
}

.outermost-social-share-link-pinterest {
	color: #e60122;
}

.outermost-social-share-link-reddit {
	color: #fe4500;
}

.outermost-social-share-link-twitter {
	color: #1da1f2;
}
