.outermost-social-share-link {
	background-color: #f0f0f0;
	color: #444;
}

.outermost-social-share-link-facebook {
	background-color: #1778f2;
	color: #fff;
}

.outermost-social-share-link-linkedin {
	background-color: #0d66c2;
	color: #fff;
}

.outermost-social-share-link-pinterest {
	background-color: #e60122;
	color: #fff;
}

.outermost-social-share-link-reddit {
	background-color: #fe4500;
	color: #fff;
}

.outermost-social-share-link-twitter {
	background-color: #1da1f2;
	color: #fff;
}