// The editor uses the button component, the frontend uses a link.
// Therefore we unstyle the button component to make it more like the frontend.
.wp-block-outermost-social-sharing .outermost-social-sharing-link {
	line-height: 0;

	button {
		font-size: inherit;
		color: currentColor;
		height: auto;
		line-height: 0;

		// This rule is duplicated from the style.scss and needs to be the same as there.
		padding: 0.25em;
	}
}

.wp-block-outermost-social-sharing.is-style-pill-shape .outermost-social-sharing-link button {
	padding-left: calc((2/3) * 1em);
	padding-right: calc((2/3) * 1em);
}

.wp-block-outermost-social-sharing.is-style-logos-only .outermost-social-sharing-link button {
	padding: 0;
}