.outermost-social-sharing-link {
	background-color: #f0f0f0;
	color: #444;
}

.outermost-social-sharing-link-facebook {
	background-color: #1877f2;
	color: #fff;
}

.outermost-social-sharing-link-flipboard {
	background-color: #e12828;
	color: #fff;
}

.outermost-social-sharing-link-line {
	background-color: #06c755;
	color: #fff;
}

.outermost-social-sharing-link-linkedin {
	background-color: #0a66c2;
	color: #fff;
}

.outermost-social-sharing-link-pinterest {
	background-color: #bd081c;
	color: #fff;
}

.outermost-social-sharing-link-pocket {
	background-color: #ef4056;
	color: #fff;
}

.outermost-social-sharing-link-reddit {
	background-color: #ff4500;
	color: #fff;
}

.outermost-social-sharing-link-skype {
	background-color: #0078ca;
	color: #fff;
}

.outermost-social-sharing-link-telegram {
	background-color: #229ed9;
	color: #fff;
}

.outermost-social-sharing-link-tumblr {
	background-color: #011935;
	color: #fff;
}

.outermost-social-sharing-link-twitter {
	background-color: #1da1f2;
	color: #fff;
}

.outermost-social-sharing-link-viber {
	background-color: #665ca7;
	color: #fff;
}

.outermost-social-sharing-link-whatsapp {
	background-color: #25d366;
	color: #fff;
}