.outermost-social-share-link {
	color: #444;
}

.outermost-social-share-link-facebook {
	color: #1778f2;
}

.outermost-social-share-link-linkedin {
	color: #0d66c2;
}

.outermost-social-share-link-pinterest {
	color: #e60122;
}

.outermost-social-share-link-pocket {
	color: #ef4155;
}

.outermost-social-share-link-reddit {
	color: #fe4500;
}

.outermost-social-share-link-skype {
	color: #0478d7;
}

.outermost-social-share-link-telegram {
	color: #2aabee;
}

.outermost-social-share-link-tumblr {
	color: #011835;
}

.outermost-social-share-link-twitter {
	color: #1da1f2;
}

.outermost-social-share-link-whatsapp {
	color: #25d366;
}
