.outermost-social-sharing-link {
	color: #444;
}

.outermost-social-sharing-link-bluesky {
	color: #1083fe;
}

.outermost-social-sharing-link-facebook {
	color: #1877f2;
}

.outermost-social-sharing-link-flipboard {
	color: #e12828;
}

.outermost-social-sharing-link-line {
	color: #06c755;
}

.outermost-social-sharing-link-linkedin {
	color: #0a66c2;
}

.outermost-social-sharing-link-pinterest {
	color: #bd081c;
}

.outermost-social-sharing-link-pocket {
	color: #ef4056;
}

.outermost-social-sharing-link-reddit {
	color: #ff4500;
}

.outermost-social-sharing-link-skype {
	color: #0078ca;
}

.outermost-social-sharing-link-telegram {
	color: #229ed9;
}

.outermost-social-sharing-link-threads {
	color: #000;
}

.outermost-social-sharing-link-tumblr {
	color: #011935;
}

.outermost-social-sharing-link-twitter {
	color: #1da1f2;
}

.outermost-social-sharing-link-viber {
	color: #665ca7;
}

.outermost-social-sharing-link-whatsapp {
	color: #25d366;
}

.outermost-social-sharing-link-x {
	color: #000;
}
