.outermost-social-sharing-link {
	background-color: #f0f0f0;
	color: #444;
}

.outermost-social-sharing-link-facebook {
	background-color: #1778f2;
	color: #fff;
}

.outermost-social-sharing-link-linkedin {
	background-color: #0d66c2;
	color: #fff;
}

.outermost-social-sharing-link-pinterest {
	background-color: #e60122;
	color: #fff;
}

.outermost-social-sharing-link-pocket {
	background-color: #ef4155;
	color: #fff;
}

.outermost-social-sharing-link-reddit {
	background-color: #fe4500;
	color: #fff;
}

.outermost-social-sharing-link-skype {
	background-color: #0478d7;
	color: #fff;
}

.outermost-social-sharing-link-telegram {
	background-color: #2aabee;
	color: #fff;
}

.outermost-social-sharing-link-tumblr {
	background-color: #011835;
	color: #fff;
}

.outermost-social-sharing-link-twitter {
	background-color: #1da1f2;
	color: #fff;
}

.outermost-social-sharing-link-whatsapp {
	background-color: #25d366;
	color: #fff;
}